page-home {
    .button {
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-left: 0rem;
        margin-right: 0rem;
        padding-top: 0rem;
    }

    .ion-item {
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-left: 0rem;
        margin-right: 0rem;
        padding-top: 0rem;
    }
}
